<mat-card>
  <!-- Ao criar um form o angular vai entender que isso é um formulário e vai criar um objeto por baixo dos panos, definir um id que recebe ngForm nos permite acessar os dados desse objeto -->
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        placeholder="Post Title"
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        #title="ngModel"
        required>

      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        placeholder="Post content"
        matInput
        rows="10"
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"
        #postInput
        required></textarea>

        <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="primary"
    type="submit">save post</button>
  </form>
</mat-card>
